block BlogPosts
.container
	.blog-posts
		.blog__posts-inner
			.blog__posts-title.title Blog Posts
			.blog__posts_under-text Join SlyText’s monthly readers and learn how to manage, market, and grow your local business.
			.blog-post-columns
				.blog__posts-column
					.blog__post_column-content
						.blog__post_column-content-left
							.blog__post_column-media
								img(
									src="../img/bp1.svg"
									class="blog__post_column-media-item"
								)
						.blog__post_column-content-right
							.blog__post_column-content-right-posted POSTED ON SEPTEMBER 27, 2022
							.blog__post_column-content-right-title What is a text blast?
							.blog__post_column-content-right-text Text messages, or SMS marketing, are like the printing press of the modern age. If you use the right text blast service, one single SMS text can reach tens of thousands. But not every SMS blast is built the same. Before you send out a mass text and keep an eye on your open rates, you should consider your market, what you want your text message blast to achieve, and every element of its writing.


				.blog__posts-column
					.blog__post_column-content
						.blog__post_column-content-left
							.blog__post_column-media
								img(
									src="../img/bp2.svg"
									class="blog__post_column-media-item"
								)


						.blog__post_column-content-right
							.blog__post_column-content-right-posted POSTED ON SEPTEMBER 6, 2022
							.blog__post_column-content-right-title How do business and organizations use mass text messaging?
							.blog__post_column-content-right-text Text messaging is a great boost to anyone who wants to communicate quickly. SMS messages are a revolution in the way we communicate as individuals—family members, friends, and acquaintances. But what if you’re a business? What if SMS marketing is on your radar? How can you use a mass text promotion to get people to visit your business, or use appointment reminders to help you manage your business?

				.blog__posts-column
					.blog__post_column-content
						.blog__post_column-content-left
							.blog__post_column-media
								img(
									src="../img/bp3.svg"
									class="blog__post_column-media-item"
								)


						.blog__post_column-content-right
							.blog__post_column-content-right-posted POSTED ON JULY 28, 2022
							.blog__post_column-content-right-title Can You Text a Landline Phone?
							.blog__post_column-content-right-text We’re all used to the popularity of the modern-day text message. Yet many of us remember what it’s like to have a landline phone—no texts or SMS, just basic landline service and voice chat. For many people, these two technologies seem at odds with each other. How could there possibly be any benefit to texting a landline
				.blog__posts-column
					.blog__post_column-content
						.blog__post_column-content-left
							.blog__post_column-media
								img(
									src="../img/bp4.svg"
									class="blog__post_column-media-item"
								)
						.blog__post_column-content-right
							.blog__post_column-content-right-posted POSTED ON JUNE 27, 2022
							.blog__post_column-content-right-title How to Text from Your Computer
							.blog__post_column-content-right-text  Let’s be honest: not all of us love the experience of texting from a phone. There is too much Autocorrect, constant backspacing, and confusion on iMessage or your favorite messages app. Sometimes, it’s not so bad to sit down and write with a full keyboard in front of us, with each letter the size of a finger.

				.blog__posts-column
					.blog__post_column-content
						.blog__post_column-content-left
							.blog__post_column-media
								img(
									src="../img/bp5.svg"
									class="blog__post_column-media-item"
								)


						.blog__post_column-content-right
							.blog__post_column-content-right-posted POSTED ON JUNE 7, 2022
							.blog__post_column-content-right-title What is SMS Marketing?
							.blog__post_column-content-right-text SMS marketing pertains to reaching your target customers or audience through text messaging. With over 6 billion smartphones worldwide, mobile marketing has never been more essential to reach your audience than today. SMS (short message service) marketing works by sending a message to the recipient's phone number where they can opt-in or opt-out of future messages.






