block Pricing
.container
	.header-content
		.header__inner
			.logo.js-logo
				a(href='Main.html')
					img(src='../img/Logo.svg' alt='')
			nav.menu
				ul.menu__list.js-menu__list
					- list = ["Features", "Pricing", "FAQ", "Blog", "Contacts"]
					each item in list
						li.menu__item
							a(
								href=item.toLowerCase() + ".html",
								target="blank",
								class="js-menu__link-js menu__link link-el"
							)= item
			.burger.js-burge
				each lineNum in [1, 2, 3]
					div(class=`line line-${lineNum}`)
			.btn__wrapper.js-btn__wrapper
				a(href='SIngIn.html')
					button.header__btn.btn.form__btn.btn-white.js-btn-sing-in Sing in
				a(href='#')
					button.header__btn.btn.form__btn.btn-l-blue Create account
	.pricing-content-wrapper
		.pricing__inner
			.pricing__title.title SlyText Pricing
			.pricing__sub__text.text
				| Choose Your Online
				| Texting Service Plan. Switch Or Cancel Anytime.
			.pricing-columns
				.pricing__column.pricing__column-1
					.pricing__column-content.pricing__column-content-1
						.pricing__column-title Pay As You Go*
						.pricing__column-inner
							.pricing__column-message_price-wrapper
								.pricing__column-message_price-inner
									-items = [{'messages': '500 messages','price': '$10'}, {'messages': '3,000 messages', 'price': '$50'}, {'messages': '10,000 messages','price': '$100'}]
									each item in items
										.pricing__column-message_price
											.pricing__column-messages= item.messages
											.pricing__column_price= item.price
								.pricing__column-fee.text
									| *+$12 monthly fee and one time $15 vetting fee
							.divide-line
							ul.pricing__column_list-capability
								- capabilities = ['Easy Customer Opt-Out', 'Unlimited Contact Lists', 'Smart Reply Feature', 'Messages Never Expire', 'Scheduled Message']
								each capability in capabilities
									li.pricing__column_list= capability
							.pricing-column_sub-list-inner
								- subItems = ['* 160 characters or less equals one message', '* MMS messages equal three messages']
								each item in subItems
									li.pricing__column_sub-list= item
						.pricing-btn-wrapper
							button.pricing-btn.btn-l-blue Get Started
				.pricing__column.pricing__column-2
					.pricing__column-content.pricing__column-content-2
						.pricing__column-title Monthly Messaging*
						.pricing__column-inner
							.pricing__column-message_price-wrapper
								each item in [{'messages': '250', 'price': '$5/mo'}, {'messages': '2,000', 'price': '$25/mo'}, {'messages': '5,000', 'price': '$50/mo'}, {'messages': '12,000', 'price': '$100/mo'}]
									.pricing__column-message_price
										.pricing__column-messages #{item.messages} messages
										.pricing__column_price #{item.price}
								.pricing__column-fee.text
									| *+$12 monthly fee and one time $15 vetting fee
							.divide-line
							ul.pricing__column_list-capability
								- capabilities = ['Easy Customer Opt-Out', 'Unlimited Contact Lists', 'Smart Reply Feature', 'Auto-Renewal', 'Scheduled Messages']
								each capability in capabilities
									li.pricing__column_list= capability
							.pricing-column_sub-list-inner
								- subItems = ['* Requires 3-month commitment. No roll over', '* 160 characters or less equals one message', '* MMS messages equal three messages']
								each item in subItems
									li.pricing__column_sub-list= item
						.pricing-btn-wrapper
							button.pricing-btn.btn-l-blue Get Started
				.pricing__column.pricing__column-3
					.pricing__column-content-3
						.pricing__column-title-3 Need To Send More ?
						.pricing__column-inner
							.pricing__column-message_price-title
								.pricing__column-sub-title Contact us for a custom quote
							.divide-line
							ul.pricing__column_list-capability
								- capabilities = ['Easy Customer Opt-Out', 'Unlimited Contact Lists', 'Smart Reply Feature', 'Auto-Renewal', 'Messages Never Expire', 'Scheduled Messages']
								each capability in capabilities
									li.pricing__column_list.pricing__column_list-3= capability
						.pricing-btn-wrapper
							button.pricing-btn-3.btn-l-blue Contact Us
	.sub-content
		.container
			.sub__content-wrapper
				.sub__content-inner
					.sub__content-title.title Pay as You Grow
					.sub__content_sub-text.text
						| Not sure how many messages
						| you will need? Start small and let us help you build your list.
						| You can upgrade at any time.
					.sub-columns
						.sub__column
							.sub__column-content
								.sub__column-media
									img.sub__column_media-item(src='../img/sub_img-1.svg' alt='')
								.sub__column_title We'll Grow With You
								.sub__column-text
									| As you scale, we'll keep up. You can send
									| thousands, hundreds of thousands, or
									| millions of text messages with us.
						.sub__column
							.sub__column-content
								.sub__column-media
									img.sub__column_media-item(src='../img/sub_img-2.svg' alt='')
								.sub__column_title We'll Grow With You
								.sub__column-text
									| As you scale, we'll keep up. You can send
									| thousands, hundreds of thousands, or
									| millions of text messages with us.
						.sub__column
							.sub__column-content
								.sub__column-media
									img.sub__column_media-item(src='../img/sub_img-3.svg' alt='')
								.sub__column_title We'll Grow With You
								.sub__column-text
									| As you scale, we'll keep up. You can send
									| thousands, hundreds of thousands, or
									| millions of text messages with us.






