block Sing-in
	.container
		.sing-in-content
			.sing-in__content-left
				.sing-in_icon
					img(
						src="../img/singIN.svg"
						alt=""
					).sing-in__icon-item
			.sing-in__content-right
				form(action='' , method='')
					.sing-in__form
						.sing-in__form-wrapper
							.sing-in__title Log In
							.sing__in-form-fields
								.sing__in_email-field
									.sing__in-email-title.sing-text    Email Address
										label(
											for='singEmail'
										).sing_label_email
											input(
												type='email',
												id='singEmail',
												placeholder='Please enter your email'
											).sing_input_email.sing__fields
								.sing__in-password-field
									.sing__in-password-title.sing-text Password
										label(
											for='singPassword',
										).sing_label_password
											input(
												type="password",
												id="singPassword",
												placeholder="Please enter your password"
											).sing_input_password.sing__fields
							.sing_in_under_text
								a.sing_in-forgot_link(href="") Forgot password
							.ing__ing_btn_wrapper
								button.sing__in-btn.btn-l-blue Sing in
							.sing__ing-sub-content
								.sing__ing-sub-content-title.sing-text
									a(href="") Sign in with Slybroadcast
								.sing__in-account
									.sing__in__no.sing_acc.account Don't have an account
									.sing__ing_create.sing_acc
										a.sing_ing_create-link.account(
											href="") Create Account Now









