extends layouts/index
block create-acc
	.container
		.header__inner
			.logo.js-logo
				a(href='Main.html' target="_self")
					img(src='../img/Logo.svg' alt='')
			.burger.js-burge
				each lineNum in [1, 2, 3]
					div(class=`line line-${lineNum}`)
			.btn__wrapper.js-btn__wrapper
				a(href='SIngIn.html')
					button.header__btn.btn.form__btn.btn-white Sing in
				a(href='createAccount.html')
					button.header__btn.btn.form__btn.btn-l-blue Create account
		.sing-in-content
			.sing-in__content-left
				.sing-in_icon
					img(
						src="../img/singIN.svg"
						alt=""
					).sing-in__icon-item
			.sing-in__content-right
				form(action='' , method='')
					.sing-in__form
						.sing-in__form-wrapper
							.sing-in__title Log In
							.sing__in-form-fields
								.sing__in_email-field
									.wrapper
										.sing__in-name-title.sing-text Name
											label(
												for='name'
											).sing_label_email
												input(
													type='text',
													id='name',
													placeholder='Please enter your full name'
												).sing_input_email.sing__fields
								.sing__in-password-field
									.sing__in-email-title.sing-text Email Address
										label(
											for='singPassword',
										).sing_label_email
											input(
												type="password",
												id="singPassword",
												placeholder="Please enter your email"
											).sing_input_password.sing__fields
								.sing__in-phone-title.sing-text Mobile Phone
									label(
										for='phone'
									).sing_label_phone
										input(
											type='tel',
											id='phone',
											placeholder='123'
										).sing_input_phone.sing__fields
								.sing_input_password_fields
									.sing__in-password-title.sing-text Password
										label(
											for='password'
										).sing_label_phone
											input(
												type='password',
												id='password',
												placeholder='Enter password'
											).sing_input_password.sing__fields
									.sing__in-password-title.sing-text Confirm Password
										input(
											type='confirm',
											id='confirm',
											placeholder='Confirm password'
										).sing_input_password.sing__fields
								.sing__in-select-title.sing-text Select a plan
									label(
										for='select'
									).sing_label_select
										input(
											type='text',
											id='select'
											placeholder='Please select a plan'
										).sing_input_select.sing__fields
								.sing__in-select-sub-text.sing-text *$12 monthly fee for phone number not included
								.sing__in-debit-title.sing-text Credit/debit card number
									label(
										for='debit'
									).sing_label_select
										input(
											type='text',
											id='debit'
											placeholder='Please select a plan'
										).sing_input_debit.sing__fields
								.sing_input_data-card_fields
									.sing__in-password-title.sing-text Expiration month & year
										label(
											for='card'
										).sing_label_phone
											input(
												type='text',
												id='card',
												placeholder='01/24'
											).sing_input_password.sing__fields
									.sing__in-password-title.sing-text CVC
										input(
											type='text',
											id='card-2',
											placeholder='624'
										).sing_input_password.sing__fields




								.sing__in-debit-title.sing-text Referral code
									label(
										for='referral'
									).sing_label_select
										input(
											type='text',
											id='referral'
											placeholder=''
										).sing_input_debit.sing__fields
								.sing_in_checkbox
									label(
									).sing_checkbox-label
										input(
											type='checkbox',
										).checkbox
										span.custon-checkbox
										span.sing__checkbox.sing-text
										| I agree to the SlyText
										a(href='') Terms of Service
							.sing__ing_btn_wrapper
								button.sing__in-btn.btn-l-blue Create account
