extends layouts/index
block features
	.container
		.header-content
			.header__inner
				.logo.js-logo
					a(href='Main.html' target="_self")
						img(src='../img/Logo.svg' alt='')
				nav.menu
					ul.menu__list.js-menu__list
						- list = ["Features", "Pricing", "FAQ", "Blog", "Contacts"]
						each item in list
							li.menu__item
								a(
									href=item.toLowerCase() + ".html",
									target="_self",
									class="js-menu__link-js menu__link link-el"
								)= item
				.burger.js-burge
					each lineNum in [1, 2, 3]
						div(class=`line line-${lineNum}`)
				.btn__wrapper.js-btn__wrapper
					a(href='SIngIn.html')
						button.header__btn.btn.form__btn.btn-white.js-btn-sing-in Sing in
					a(href='#')
						button.header__btn.btn.form__btn.btn-l-blue Create account
		.features-wrapper-title
			.features-title.title
				| Powerful Platform With Many Features
			.features-sub__title
				| Everything you need to run a successful SMS marketing program.
			section.section
				.container
					.columns-wrapper
						.left-column
							.left__column-title.title
								| When you subscribe you get
							.left__column-text
								| Connect with your followers one-on-one and at scale using our full suite of mobile engagement
								| features.
							.box-feature.left-column
								ul.test
									- testList = ['Business Text Messaging', 'Business Text Messaging','Easy Customer Opt-Out','Call Forwarding','Unbeatable Open Rates','Zapier and Integrately integrations' , 'Zapier and Integrately integrations' , 'List Uploads' ]
								each item in testList
									li.list-feature=item

						.right-column
							.card
								.card-icon
									img.card-icon_image(
										src='../img/mob.chat.svg'
									)
								.card-info
									.card-title Business Text Messaging
									.card-text
										| The ideal business text marketing tool for those in sales,
										| customer service and marketing. And, for those that want to
										| utilize a mass notification system to stay in touch with a large
										| group. Web text message marketing gets deals, promotions and
										| important information to your customers fast via SMS messges.
										| Check out our church texting service for additional ideas.
							.card
								.card-icon
									img.card-icon_image(
										src='../img/video.gallery.svg'
									)
								.card-info
									.card-title Multimedia Messaging
									.card-text
										| The ideal business text marketing tool for those in sales,
										| customer service and marketing. And, for those that want to
										| utilize a mass notification system to stay in touch with a large
										| group. Web text message marketing gets deals, promotions and
										| important information to your customers fast via SMS messges.
										| Check out our church texting service for additional ideas.
							.card
								.card-icon
									img.card-icon_image(
										src='../img/contacts.svg'
									)
								.card-info
									.card-title Text Enable Any Number
									.card-text
										| The ideal business text marketing tool for those in sales,
										| customer service and marketing. And, for those that want to
										| utilize a mass notification system to stay in touch with a large
										| group. Web text message marketing gets deals, promotions and
										| important information to your customers fast via SMS messges.
										| Check out our church texting service for additional ideas.
							.card
								.card-icon
									img.card-icon_image(
										src='../img/messaging.svg'
									)
								.card-info
									.card-title Easy Customer Opt-Out
									.card-text
										| The ideal business text marketing tool for those in sales,
										| customer service and marketing. And, for those that want to
										| utilize a mass notification system to stay in touch with a large
										| group. Web text message marketing gets deals, promotions and
										| important information to your customers fast via SMS messges.
										| Check out our church texting service for additional ideas.
							.card
								.card-icon
									img.card-icon_image(
										src='../img/screen.rotation.svg'
									)
								.card-info
									.card-title Call Forwarding
									.card-text
										| The ideal business text marketing tool for those in sales,
										| customer service and marketing. And, for those that want to
										| utilize a mass notification system to stay in touch with a large
										| group. Web text message marketing gets deals, promotions and
										| important information to your customers fast via SMS messges.
										| Check out our church texting service for additional ideas.
							.card
								.card-icon
									img.card-icon_image(src='../img/currency.exchange.svg')
								.card-info
										.card-title Unbeatable Open Rates
										.card-text
											| The ideal business text marketing tool for those in sales,
											| customer service and marketing. And, for those that want to
											| utilize a mass notification system to stay in touch with a large
											| group. Web text message marketing gets deals, promotions and
											| important information to your customers fast via SMS messges.
											| Check out our church texting service for additional ideas.

							.card
								.card-icon
									img.card-icon_image(src='../img/zapier.seeklogo.svg')
								.card-info
									.card-title Zapier and Integrately integrations
									.card-text
										| The ideal business text marketing tool for those in sales,
										| customer service and marketing. And, for those that want to
										| utilize a mass notification system to stay in touch with a large
										| group. Web text message marketing gets deals, promotions and
										| important information to your customers fast via SMS messges.
										| Check out our church texting service for additional ideas.
							.card
								.card-icon
									img.card-icon_image(src='../img/recipe.create.svg')
								.card-info
										.card-title List Uploads
										.card-text
											| The ideal business text marketing tool for those in sales,
											| customer service and marketing. And, for those that want to
											| utilize a mass notification system to stay in touch with a large
											| group. Web text message marketing gets deals, promotions and
											| important information to your customers fast via SMS messges.
											| Check out our church texting service for additional ideas.
	//.container
	//	.features-wrapper
	//		.Features-title.title
	//			| Powerful Platform With Many Features
	//		.features-subtext.text-content
	//			| Everything you need to run a successful SMS marketing program.
	//.main.container
	//	section.section
	//		.container
	//			.columns-wrapper
	//				.left-column
	//					.left__column-title.title
	//						| When you subscribe you get
	//					.left__column-text
	//						| Connect with your followers one-on-one and at scale using our full suite of mobile engagement
	//						| features.
	//					.box-feature.left-column
	//						ul.test
	//							li.list-feature
	//								| Business Text Messaging
	//							li.list-feature
	//								| Multimedia Messaging
	//							li.list-feature
	//								| Easy Customer Opt-Out
	//							li.list-feature
	//								| Call Forwarding
	//							li.list-feature
	//								| Unbeatable Open Rates
	//							li.list-feature
	//								| Zapier and Integrately integrations
	//							li.list-feature
	//								| Zapier and Integrately integrations
	//							li.list-feature
	//								| List Uploads
	//				.right-column
	//					.card
	//						.card-icon
	//							img.card-icon_image(src='../slytext-demo/slytext-demo/img/mobile-chat 2.svg')
	//						.card-info
	//							.card-title Business Text Messaging
	//							.card-text
	//								| The ideal business text marketing tool for those in sales,
	//								| customer service and marketing. And, for those that want to
	//								| utilize a mass notification system to stay in touch with a large
	//								| group. Web text message marketing gets deals, promotions and
	//								| important information to your customers fast via SMS messges.
	//								| Check out our church texting service for additional ideas.
	//					.card
	//						.card-icon
	//							img.card-icon_image(src='../slytext-demo/slytext-demo/img/video-gallery 1.svg')
	//						.card-info
	//							.card-title Multimedia Messaging
	//							.card-text
	//								| The ideal business text marketing tool for those in sales,
	//								| customer service and marketing. And, for those that want to
	//								| utilize a mass notification system to stay in touch with a large
	//								| group. Web text message marketing gets deals, promotions and
	//								| important information to your customers fast via SMS messges.
	//								| Check out our church texting service for additional ideas.
	//					.card
	//						.card-icon
	//							img.card-icon_image(src='../slytext-demo/slytext-demo/img/contacts 17.svg')
	//						.card-info
	//							.card-title Text Enable Any Number
	//							.card-text
	//								| The ideal business text marketing tool for those in sales,
	//								| customer service and marketing. And, for those that want to
	//								| utilize a mass notification system to stay in touch with a large
	//								| group. Web text message marketing gets deals, promotions and
	//								| important information to your customers fast via SMS messges.
	//								| Check out our church texting service for additional ideas.
	//					.card
	//						.card-icon
	//							img.card-icon_image(src='../slytext-demo/slytext-demo/img/messaging 1.svg')
	//						.card-info
	//							.card-title Easy Customer Opt-Out
	//							.card-text
	//								| The ideal business text marketing tool for those in sales,
	//								| customer service and marketing. And, for those that want to
	//								| utilize a mass notification system to stay in touch with a large
	//								| group. Web text message marketing gets deals, promotions and
	//								| important information to your customers fast via SMS messges.
	//								| Check out our church texting service for additional ideas.
	//					.card
	//						.card-icon
	//							img.card-icon_image(src='../slytext-demo/slytext-demo/img/screen-rotation 1.svg')
	//						.card-info
	//							.card-title Call Forwarding
	//							.card-text
	//								| The ideal business text marketing tool for those in sales,
	//								| customer service and marketing. And, for those that want to
	//								| utilize a mass notification system to stay in touch with a large
	//								| group. Web text message marketing gets deals, promotions and
	//								| important information to your customers fast via SMS messges.
	//								| Check out our church texting service for additional ideas.
	//					.card
	//						.card-icon
	//							img.card-icon_image(src='../slytext-demo/slytext-demo/img/currency-exchange 1.svg')
	//							.card-info
	//								.card-title Unbeatable Open Rates
	//								.card-text
	//									| The ideal business text marketing tool for those in sales,
	//									| customer service and marketing. And, for those that want to
	//									| utilize a mass notification system to stay in touch with a large
	//									| group. Web text message marketing gets deals, promotions and
	//									| important information to your customers fast via SMS messges.
	//									| Check out our church texting service for additional ideas.
	//						.card
	//							.card-icon
	//								img.card-icon_image(src='../slytext-demo/slytext-demo/img/zapier-seeklogo.com 1.svg')
	//							.card-info
	//								.card-title Zapier and Integrately integrations
	//								.card-text
	//									| The ideal business text marketing tool for those in sales,
	//									| customer service and marketing. And, for those that want to
	//									| utilize a mass notification system to stay in touch with a large
	//									| group. Web text message marketing gets deals, promotions and
	//									| important information to your customers fast via SMS messges.
	//									| Check out our church texting service for additional ideas.
	//						.card
	//							.card-icon
	//								img.card-icon_image(src='../slytext-demo/slytext-demo/img/recipe-create 1.svg')
	//								.card-info
	//									.card-title List Uploads
	//									.card-text
	//										| The ideal business text marketing tool for those in sales,
	//										| customer service and marketing. And, for those that want to
	//										| utilize a mass notification system to stay in touch with a large
	//										| group. Web text message marketing gets deals, promotions and
	//										| important information to your customers fast via SMS messges.
	//										| Check out our church texting service for additional ideas.
	script(src='../js/app.js')
